.display {
    background-image: url(./assets/homepage.jpg);
    background-position: center;
    background-size: cover;
}

.indisplay {
    background-image: url(./assets/bookstore.jpg);
    background-position: center;
    background-size: cover;
}

.bookIcon {
    background-color: rgba(26, 24, 24, 0.7);
    border-radius: 3%;
    color: rgb(253, 253, 249);
    height: max-content;
    box-shadow: inset 0em -.1em 1em white;
}

.bookIcon:hover {
    background-color: rgba(26, 24, 24, 0.7);
    box-shadow: inset 0em -.1em 1em gold;
}

.btnAny:hover {
    background-color: rgb(102, 65, 28);
    box-shadow: inset 0em -.1em rgb(84, 97, 2);
    transition: ease-in-out .5s;
}

.btnAny {
    background-color: rgba(95, 92, 92, 0.4);
    color: white;
}

.uploads {
    background-color: rgba(26, 24, 24, 0.9);
    color: white;
}

.bod {
    background-color: rgba(26, 24, 24, 0.7);
    border-radius: 3%;
    color: rgb(253, 253, 249);
    height: max-content;
    box-shadow: inset 0em -.1em 1em white;
}